.formInput {
    padding-top: 0rem;
    display: flex;
    flex-direction: column;
    left: 0rem;
    position: relative;
  }
  
  .testForm {
    border: 2px solid rgba(187, 187, 187, 0);
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(248, 248, 248);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.171);
    // background-color: #ffffffa8; (Old Version)
    width: 20rem;
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    // box-shadow: 5px 5px 0 0 #275fa875;
  }
  
  .InputForm {
    outline: 0;
    border: 1px solid rgb(187, 187, 187, 0.795);
    border-radius: 5px;
    display: flex;
    padding: 8px;
    margin-bottom: 5px;
  }
  
  .lblForm {
    color: black;
    margin-top: 10px;
  }

  .h1-cad{
    align-items: center;
    top: 0px;
    display: flex;
    position: relative;
    color: black;
    size: 1rem;  
  }

  .h1-log{
    align-items: center;
    top: 0px;
    display: flex;
    position: relative;
    color: black;
    size: 1rem;  

    margin-top: 1rem ;
    margin-bottom: 1rem;
  }

  h1.lblH1{
    font-size: 2rem;
    font-weight: bold;
  }

  div.DivBtn{
    color: rgb(255, 255, 255);
    border: 2px solid rgba(187, 187, 187, 0);
    border-radius: 5px;
    background-color: #275FA8;
    //width: 5rem;
    position: relative;

    display: flex;
    top: 5px;
    //width: 380px;
    height: 2.4rem;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .FButton{
    position: relative;

    display: flex;
    left: 1px;
    width: 12.1rem;
    text-align: center;

    align-self: center;
    display: flex;
    justify-content: center;
  }
  
  h3.BtnText1{
    //text-align: center;
    //width: 100%;

    display: flex;
    justify-content: center;
  }

  // body.form-page{
  //   background-image: url("../../../../public/BackForm.jpg");
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   background-position: center;
  //   background-attachment: fixed;
  
  // }
  
  .FB-Div{
    padding-top: 0.5rem;
    padding-bottom: 0.9rem;

  }

  .G-Btn{
    padding-top: 5px;
    }

  .G-BtnRec{
    display: flex;
    align-items: center;
    background-color: white;
    color: rgb(0, 0, 0);

    border-width: 2px;
    border-color:white ;
    border-radius: 10px;

    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.164);

    margin-bottom: 0.5rem;
  }

  .logo-g{
    //padding-left: 7px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;

    border-width: 5px;
    border-color:rgb(255, 255, 255) ;
  }

  .logo-g-rec{
    //padding-left: 7px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    width: 2rem;

    border-width: 5px;
    border-color:rgba(255, 255, 255, 0) ;
  }

  .g-h3{
    padding-top: 3px;
    padding-bottom: 3px;

    margin-top: 0.4rem;
  }

  .g-h1{
    padding-left: 5px;
    padding-right: 5px;
  }

  .CadLink{
    color:#275FA8
  }

  .CadText{
    margin-top: 0.9rem;
    margin-bottom: 0.5rem;
  }