.page-home,
.page-__PAGE__ {
  .main-header {
    box-shadow: none;
  }
}

.search-button {
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  width: auto;
  width: 100%;
  max-width: 300px;

  font-weight: 400;

  background: #f3f5f9;
  border: 1px solid #e5e8ed;
  border-radius: 4px;

  font-size: .875rem;
  line-height: 21px;
  overflow-x: hidden;
  padding: .7rem .7rem;
  white-space: nowrap;

  .button-inner-label {
    label {
      cursor: pointer;
      margin-left: .5rem;
    }
  }

  svg {
    display: inline-block;
    fill: #656565;
  }

  kbd {
    font-size: .875rem;
    font-family: consolas, menlo, monospace !important;
    white-space: nowrap;
    padding: 0 .125rem;
    border: 1px solid #f1f1f1;
    border-radius: .188rem;
    background: #fafafa;
  }

  @include max-tablet {

    .button-inner-label label,
    kbd {
      display: none;
    }
  }

  @include tablet {
    min-width: 300px;
  }
}