.nav-bar-container {
  .menuDrop-container {
    width: 100%;
    max-width: 100%;
  }
}

.nav-bar-container,
.nav-mobile-container {
  .menu-button {
    padding: 0.7rem 0.75rem;
    color: #fff;
    background-color: $primary;
    border-radius: 6px;
    outline: none;

    transition: all .2s ease-in-out, transform 0.05s ease;
    // transition: width .3s ease-in-out, height .3s ease-in-out, transform 0s ease;

    &:hover {
      background-color: rgb(14 70 144);
    }

    &.transparent {
      color: initial;
      background-color: initial;

      &:hover {
        background-color: rgb(227, 232, 244);
      }
    }
  }

  @include max-desktop {
    .header-buttons-container {
      flex-direction: column;

      .li-button {
        align-self: flex-start;
      }

      .menu-button {
        margin: auto;
        width: 100%;
        // min-width: 116px;

        &.transparent {
          background-color: #fff;
        }
      }
    }
  }

}

.my-account-button-container {
  cursor: pointer;

  .button-text {
    font-size: 1.1rem;
    line-height: initial;
    min-width: 103.5px;
  }

  @include desktop {
    margin-left: 1rem;

    line-height: 24px;

    margin-top: .15rem;

    .button-text {
      margin-top: -0.075rem;
    }
  }
}

.credential-button {
  margin-left: 1rem !important;

  background-color: $primary !important;
  outline: $primary !important;

  min-height: 42px;
  min-width: 42px;

  &.no-shadow {
    box-shadow: none !important;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  svg {
    padding: .2rem;

    path {
      stroke: #fff;
    }
  }
}


.navLinksContent {
  @include max-desktop {
    display: flex;
    flex-direction: column !important;
    align-items: initial !important;
    justify-content: flex-start;
    flex-grow: 0 !important;
  }
}

.main-nav-inner-container {
  background: none !important;
  border: none;

  border: none;
  height: initial !important;

  --navbar-height: initial !important;

  max-height: inherit !important;

  margin-left: 1rem;

  a {
    color: #000;
  }

  .hamburger-menu {
    transition: transform .1s ease-in-out;

    padding: 1.265rem 1.5rem;
    background: #f3f5f9;
    border: 1px solid #e5e8ed;
    border-radius: 4px;

    min-height: 48px;
    min-width: 48px;

    outline: none;
  }

  @include desktop {
    margin-left: 2rem;

    .hamburger-menu {

      &:focus,
      &:hover {
        transform: translateY(-0.09rem);
      }
    }
  }

  header,
  .header {
    padding: 0;
    border: none;
  }

  a,
  li {
    outline: none;
  }

}

.header-profile-actions {
  a {
    width: 100%;
  }

  .profile-login {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .text-primary {
    color: initial !important;
  }
}

.main-nav-content,
.nav-mobile-container {

  a,
  button,
  li {
    font-size: 1.1rem;
    outline: none;
  }
}

.user-header-container {
  @include max-desktop {
    align-items: baseline !important;
    // position: absolute;
    top: 2rem;
    right: 1.5rem;
  }
}

.nav-mobile-container {
  padding-top: 1.5rem !important;

  margin-top: 3rem;
  background-color: #f3f5f9 !important;
  // background-color: #dfe3ec !important;

  &>div {
    flex-grow: initial !important;
  }


  a {
    color: #000;
    width: 100%;
  }

  a,
  li {
    font-size: 1.1rem;
    margin: .5rem 0;
    outline: none;
  }

  .avatar-button {
    margin-right: .5rem;
  }
}