.percentage-variation {
  &.up {
    color: #037b4b;
  }

  &.down {
    color: #bd1414;
  }
}

.myAssetsButton {
  max-width: 200px;
}

.activePageButton {
  max-width: 250px;
}

.priceAlertModalButton {
  svg {
    path {
      stroke: $primary;
    }
  }

}

.followAssetButton {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  width: 100%;
  max-width: 120px;

  border: 1px solid;
  border-color: #d2e3fc;
  color: #4d5156;

  padding: .25rem .6875rem .25rem .4375rem;

  // font-size: .75rem;
  font-size: .95rem;
  border-radius: .875rem;

  .svg-container {
    margin-right: .4rem;

    svg {
      path {
        stroke: $primary;
      }
    }
  }

  &.blue {
    background-color: $primary;

    &,
    svg path {
      stroke: #fff;
      color: #fff;
    }
  }

  @include desktop {}
}

.asset-header {
  .caption-title {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    // max-width: 700px;

    .asset-title {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  .asset-info-details {
    display: flex;
    flex-direction: column;

    figure {
      margin-top: 1rem;
      display: flex;
      align-items: flex-start;
      max-width: 700px;

      figcaption {
        margin-left: .5rem;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;

      }
    }

    .price-description {
      margin-top: 1rem;

      .description-header {
        display: flex;
        align-items: baseline;
        font-size: 1.5rem;
        font-weight: 600;

        .current-price {
          font-size: 2rem;
          font-weight: 700;
        }

        .percentage-variation {
          margin-left: 1rem;
        }
      }
    }

  }

  @include max-mobile {

    .asset-info-details {
      figure {
        align-items: center;

        @media (max-width:300px) {
          align-items: flex-start;
          flex-direction: column;

          figcaption {
            margin-left: 0;
            margin-top: 1rem;
          }
        }

      }

    }

    .followAssetButton {
      margin-top: .5rem;
    }

    .description-header {
      font-size: 1.3rem!important;

      .current-price {
        font-size: 1.7rem!important;
      }
    }

  }
}