.search-bar-container {
  position: relative;
  
  .search-results {
    padding: .5rem 1rem;
  
    &:hover {
      background-color: #efefef;
    }
  }
  
  .results-list {
    position: absolute;
    top: 5rem;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px #ddd;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: auto;
  }
}

.search-bar-header-container {
  // position: relative;

  .search-bar-container {
    position: initial;

    .results-list {
      max-width: 300px;
    }

  }
}