// Mixins
@import './mixins/index.scss';

// colors
@import './colors';

// Animations
@import './animations/animations.scss';

// Base
@import './base/';

// Components
@import './components/index.scss';
// Pages
@import './pages/index.scss';

// Fonts
@import './fonts/';


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 500px;

  @include max-tablet {
    &::-webkit-scrollbar {
      display: none;

      scrollbar-width: none;
    }
  }
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;

  scroll-behavior: smooth;
}

body.modal-open {
  @include tablet {
    // overflow-y: visible!important;
    overflow: visible !important;
    padding-right: initial !important;
  }
}

a,
button {
  transition: opacity .5s ease-in-out;

  &:hover {
    opacity: .9;
  }
}

a,
button,
.buttonTransition,
.myButton,
.followAssetButton {
  transition: transform .1s ease-in-out;
  transition: all .5s ease-in-out, opacity .5s ease-in-out, width .3s ease-in-out, height .3s ease-in-out, transform .5s ease;

  &:focus,
  &:hover {
    transform: translateY(-0.09rem);
  }
}

a {
  color: $primary;
}

img {
  max-width: 100%;
}

.myInvestLogo {
  // margin: auto;
}

.myButton {
  cursor: pointer;
  padding: 0.7rem 0.75rem;
  color: #fff;
  background-color: $primary;
  border-radius: 6px;
  outline: none;

  transition: all .2s ease-in-out;

  text-align: center;

  span {
    width: 100%;
  }

  &:hover {
    background-color: rgb(14 70 144);
  }

  &.transparent {
    color: initial;
    background-color: initial;

    &:hover {
      background-color: rgb(227, 232, 244);
    }
  }

  &.white {
    color: initial;
    background-color: #fff;

    &:hover {
      background-color: #f2f2f2;
    }

    border: 1px solid #ccc;
  }

  &.silver {
    color: initial;
    background-color: #f2f2f2;

    &:hover {
      background-color: #f1f1f1;
    }

  }

  display: flex;
  align-items: center;

  font-size: 1rem;

  @include desktop {
    font-size: 1.15rem;
  }

  @include wide {
    padding: .75rem;
    line-height: 24.2px;
    font-size: 1.25rem;
    min-height: 24px;
  }

}

.myButton.myAlerts {
  span {
    width: auto;

    svg {
      margin-right: .25rem;
    }
  }
}

.myButtonSvg {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1rem;
  border: 1px solid #d1d5db;
  border-radius: 6px;

  text-align: center;

  color: #4d5156;

  padding: 1rem;

  svg {
    margin-right: .25rem;
  }

  @include max-mobile {
    width: 100%;
  }

}

.you-dont-posses-text {
  color: #030303;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
}


.loadingContainer {
  padding: 2rem;
  opacity: .85;

  min-height: 700px;

  .loadingText {
    font-size: 3rem;
    color: $primary;
  }

  p {
    font-size: 1.1rem;
  }

  @include max-mobile {
    .loadingText {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }
  }

}

.gradient {
  background-image: linear-gradient(135deg, $primary 35%, #1c4ca0 100%);
}

.notFound {
  position: relative;

  .imageContainer {
    max-width: 500px;
  }

  @include desktop {
    .imageContainer {
      padding-left: 2rem;
    }

    left: -4rem;
  }
}