.asset-page-header {
  // display: flex;

  position: relative;

  .side-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;

    // margin-top: 1rem;

    a:last-child,
    button:last-child {
      margin-left: 1rem;
    }

  }

  @include max-mobile {
    .side-buttons {

      a,
      button {
        width: 100%;
        max-width: 100%;

        margin-top: 1rem;

        &:last-child {
          margin-left: 0;
          // margin-bottom: 1rem;
        }

      }
    }
  }

  @include tablet {
    .side-buttons {
      a, button {
        position: relative;
        top: -3rem;
        right: 0;
      }

    }
  }

}

.asset-header {
  .caption-title {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    // max-width: 700px;

    .asset-title {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  .asset-info-details {
    display: flex;
    flex-direction: column;

    figure {
      margin-top: 1rem;
      display: flex;
      align-items: flex-start;
      max-width: 700px;

      figcaption {
        margin-left: .5rem;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;

      }
    }

    .price-description {
      margin-top: 1rem;

      .description-header {
        display: flex;
        align-items: baseline;
        font-size: 1.5rem;
        font-weight: 600;

        .current-price {
          font-size: 2rem;
          font-weight: 700;
        }

        .percentage-variation {
          margin-left: 1rem;
        }
      }
    }

  }

  @include max-mobile {

    .asset-info-details {
      figure {
        align-items: center;

        @media (max-width:300px) {
          align-items: flex-start;
          flex-direction: column;

          figcaption {
            margin-left: 0;
            margin-top: 1rem;
          }
        }

      }

    }

    .followAssetButton {
      margin-top: .5rem;
    }

    .description-header {
      font-size: 1.3rem!important;

      .current-price {
        font-size: 1.7rem!important;
      }
    }

  }
}

.asset-page-container {
  figure {
    align-items: center!important;
  }
}